.my-custom-menu {
    --width: 500px;
  }
  
  // .title {
  //   // margin-left: 30%;
  //   text-align: center;
  // }
  .segment_color {
    --color: black;
  }
  
  .divClass {
    text-align: center;
  }
  
  .sc-ion-segment-ios-h {
    --background-activated: rgba(var(--ion-color-base-rgb), 0.16);
    --ripple-color: var(--ion-color-base);
    background: #082232;
    color: #fff;
  }
  
  .sc-ion-segment-ios-h.ion-color.sc-ion-segment-ios-s>ion-segment-button {
    --border-color: var(--ion-color-base);
    background: transparent;
    color: rgb(201, 201, 201);
  }
  
  
  .group-segment {
    font-size: 18px;
    display: inline-block;
  }
  
  .segment {
    font-size: 18px;
    display: inline-block;
  }
  
  .titleColegio {
    color: #797D7F;
    font-size: 15px;
  }
  
  .descColegio {
    color: #797D7F;
    font-size: 15px;
  }
  
  .inputLink {
    font-size: 15px;
    color: #0036FF;
  }
  
  .avatar {
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
  
    // display: inline-block;
    // margin-left: auto;
    // margin-right: auto;
  }
  
  ion-card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
  }
  
  .multimediaCards {
    margin-top: 25px;
    height: 200px;
    box-shadow: 0 !important;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 60vw;
    width: 60vw;
  }
  
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
  
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    text-align: center;
  }
  
  .badge {
    font-size: 20px;
    position: absolute;
    top: 28%;
    margin-left: 50%;
    color: #fff;
    display: block;
  }
  
  .multimediaEdit {
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    height: 60vw;
    width: 60vw;
  }
  
  .cardimage {
    width: 100%;
  }
  
  .textomenu {
    text-align: center;
    color: black;
  }
  
  .nombrePerfil {
    text-align: center;
    color: #2E6CA4;
  }
  
  .fondoMenu {
    background: #082232;
    color: #fff;
  }
  
  .fondoMenus {
    background: #082232;
    text-align: left;
    color: #fff;
  }
  
  .custom-avatar {
    height: 30vw;
    width: 30vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .iconPin {
    color: #797D7F;
  }
  
  .titleMenu {
    text-align: center;
  }
  
  .avatarm {
    height: 110px;
    width: 110px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 32%;
    margin-right: 30%;
  }
  
  .nombrePerfil {
    text-align: center;
  }
  
  .bgColor {
    color: #082232;
  }
  
  .listSide {
    padding: 0%;
  }
  
  ion-slide {
    height: calc(100vh - 140px);
  }
  
  .colorCol {
    background-color: #F9E79F;
  }
  
  // COLORES POSTIT
  
  .cuadrado {
    width: 100px;
    height: 100px;
    // background: #F9E79F;
    color: #000000;
    // padding-top: 10px;
    // padding-left: 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;
  }
  
  .color1 {
    background: #ffffcc;
    padding: 10px;
    width: 168px;
    height: 168px;
    box-shadow: 2px 2px 5px #999;
  }
  
  .color2 {
    background: #b6dbee;
    padding: 10px;
    width: 168px;
    height: 168px;
    box-shadow: 2px 2px 5px #999;
  }
  
  .color3 {
    background: #d6f1cd;
    padding: 10px;
    width: 168px;
    height: 168px;
    box-shadow: 2px 2px 5px #999;
  }
  
  .color4 {
    background: #d0cef4;
    padding: 10px;
    width: 180px;
    height: 180px;
    box-shadow: 2px 2px 5px #999;
  }
  
  .color5 {
    background: #e4cef4;
    padding: 10px;
    width: 180px;
    height: 180px;
    box-shadow: 2px 2px 5px #999;
  }
  
  .color6 {
    background: #f4cece;
    padding: 10px;
    width: 180px;
    height: 180px;
    box-shadow: 2px 2px 5px #999;
  }
  
  .color7 {
    background: #f4dcce;
    padding: 10px;
    width: 180px;
    height: 180px;
    box-shadow: 2px 2px 5px #999;
  }
  
  .color8 {
    background: #cef4e4;
    padding: 10px;
    width: 180px;
    height: 180px;
    box-shadow: 2px 2px 5px #999;
  }
  
  .color9 {
    background: #ffffcc;
    padding: 10px;
    width: 180px;
    height: 180px;
    box-shadow: 2px 2px 5px #999;
  }
  
  .color10 {
    background: #ced2f4;
    padding: 10px;
    width: 180px;
    height: 180px;
    box-shadow: 2px 2px 5px #999;
  }
  
  // --------------------------------------------------------------------------------
  
  .textCodigo {
    font-size: 12px;
  }
  
  .textTitulo {
    font-size: 12px;
    font-weight: bold;
  }
  
  .textfechalit {
    font-size: 11px;
    float: right;
  }
  
  .textPara {
    font-size: 12px;
    font-weight: bold;
  }
  
  $font-size: 12px;
  $line-height: 1.4;
  $lines: 2;
  
  .biography {
    display: block;
    display: -webkit-box;
    height: $font-size * $line-height * $lines;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  $lines: 1;
  
  .biography2 {
    display: block;
    display: -webkit-box;
    height: $font-size * $line-height * $lines;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .width {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .colhome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .tab_img {
    width: 20px;
  }
  
  .menu_img {
    width: 25px;
  }
  
  .color_items {
    color: #5D6D7E;
  }
  
  .labelmenu {
    color: #2E6CA4;
  }
  
  .menuicon {
    width: 40px;
  }
  
  .logocomodin {
    width: 60%;
  }
  
  
  .comodin_lbl {
    color: #2E6CA4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
  
  .title {
    margin-left: 18%;
  }
  
  .cssgray {
    color: #797D7F;
    font-size: 15px;
    margin: 0px;
    margin-left: 15px;
    margin-top: 3px;
  }
  
  .labelClass {
    padding: 8px;
    // margin: 3px;
  }
  
  .noleida {
    padding: 8px;
    color: rgb(5, 59, 104);
    font-weight: 900;
  }
  
  .leida {
    padding: 8px;
    color: #797D7F;
    font-weight: 300;
  }
  
  .tamaño {
    margin-top: 4px;
    border-radius: 20px;
    --background: white;
    height: 100%;
    // margin-left: 3%;
    // margin-top: 2%;
  }
  
  .notis{
    margin-top: 8px;
    border-radius: 15px;
    --background : white;
    width: 96%;
    margin-left: 8px;
  }
  
  .refresh {
    margin-top: -40px;
  }
  
  .border {
    border-radius: 15px;
    --background: white;
    margin-top: 1px;
  }
  
  
  .tall {
    height: 150%;
    margin-top: 2%;
  }
  
  .position {
    position: absolute;
  }
  
  .margin {
    margin-left: 84%;
    height: 6%;
  }
  
  .fondo {
    --ion-background-color: #f2eded;
  }
  
  
  .logo {
    width: 54px;
    height: 70px
    margin-left 10px;
  }
  
  .icon {
    width: 40px;
    height: 24px;
    color: #3d78ab;
    
  }
  
  .border{
    margin-top:10px;
    width: 98%;
    margin-left: 1%;
  }
  