<ion-header>
  <ion-toolbar color="primary">

    <ion-button (click)="cerrar()" slot="start">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>Atras
    </ion-button>
    
    <ion-title>Circulares</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-card *ngFor="let circular of circulares; let i = index" (click)="abrirCircular(i)">
    <ion-card-title class="ion-padding-horizontal"> {{ circular.fecha_publicacion }} {{ circular.hora_publicacion }} </ion-card-title>
    <ion-card-subtitle class="ion-padding-horizontal"> {{ circular.titulo }} </ion-card-subtitle>
    <ion-card-subtitle class="ion-padding-horizontal"> {{ circular.descripcion }} </ion-card-subtitle>
  </ion-card>  

</ion-content>
