<ion-header>
  <ion-toolbar color="primary">

    <ion-button (click)="cerrar()" expand="block" slot="start">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>Atras
    </ion-button>

    <ion-title> {{ materia }} </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-padding">
    <ion-label color="primary"><b>Titulo de la Tarea:</b></ion-label>
  </div>
  <div class="ion-padding">
    <ion-label>{{ titulo }}</ion-label>
  </div>
  <div class="ion-padding">
    <ion-label color="primary"><b>Descripcion de la Tarea:</b></ion-label>
  </div>
  <div class="ion-padding">
    <ion-label>{{ descripcion }}</ion-label>
  </div>
  <div class="ion-padding">
    <ion-label color="primary"><b>Fecha de Entrega:</b></ion-label>
  </div>
  <div class="ion-padding">
    <ion-label>{{ fecha }}</ion-label>
  </div>

</ion-content>