<ion-header>
  <ion-toolbar color="primary">

    <ion-button (click)="cerrar()" slot="start">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>Atras
    </ion-button>

    <ion-title>POST IT</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-padding">
    <ion-label color="primary"><b>Titulo del Post It:</b></ion-label>
  </div>
  <div class="ion-padding">
    <ion-input color="dark" placeholder="{{ titulo }}" [disabled]="disabled"></ion-input>
  </div>
  <div class="ion-padding">
    <ion-label color="primary"><b>Descripcion del Post It:</b></ion-label>
  </div>
  <div class="ion-padding">
    <ion-textarea color="dark" placeholder="{{ descripcion }}" [disabled]="disabled"></ion-textarea>
  </div>
  <div class="ion-padding">
    <ion-label color="primary"><b>Fecha del Post It:</b></ion-label>
  </div>
  <div class="ion-padding">
    <ion-label color="medium">{{ fecha }}</ion-label>
  </div>
  <div class="ion-padding">
    <ion-label color="primary"><b>Alumno:</b></ion-label>
  </div>
  <div class="ion-padding">
    <ion-label color="medium">{{ alumno }}</ion-label>
  </div>

  <ion-button (click)="adjuntarArchivos()" expand="block" shape="round" color="medium" class="ion-padding" [disabled]="disabled">
    ADJUNTAR ARCHIVOS
  </ion-button>

  <div class="ion-padding">
    <swiper-container>
      <swiper-slide *ngFor="let imagen of imagenes">
        <img src="{{ imagen.imagen_url }}" (click)="verImg()">
      </swiper-slide>
      <swiper-slide *ngFor="let archivo of archivos">
        <a href="{{ archivo.archivo_url }}" target="_blank">
          <ion-img src="{{ archivo.icono }}"></ion-img>
        </a>
      </swiper-slide>
    </swiper-container>
  </div>

</ion-content>

<ion-footer>

  <ion-button (click)="adjuntarArchivos()" expand="block" shape="round" color="primary" class="ion-padding" [disabled]="disabled">
    MODIFICAR
  </ion-button>
  
</ion-footer>