<ion-header>
  <ion-toolbar color="primary">

    <ion-button (click)="cerrar()" slot="start">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>Atras
    </ion-button>
    
    <ion-title>Photo Album</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngFor="let album of albumes, let i = index">

    <swiper-container>
      <swiper-slide *ngFor="let photos of album.imagenes; let a = index" >
        <img src="{{ photos.foto }}" class="img">
      </swiper-slide>
    </swiper-container>
    <p> {{ album.texto }} </p>
    <p> {{ album.fecha }} </p>
    <p *ngFor="let alumnos of album.alumnos; let i = index"> {{ alumnos.alumno }} </p>
  </ion-card>

</ion-content>
