<ion-header>
  <ion-toolbar color="primary">

    <ion-button (click)="cerrar()" slot="start">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>Atras
    </ion-button>

    <ion-title>Circular</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="botones">
    <ion-button size="small" (click)="ver()">
      <ion-icon slot="start" name="search-circle-outline"></ion-icon>
      VER
    </ion-button>
    <ion-button size="small" (click)="descargar()">
      <ion-icon slot="start" name="cloud-download-outline"></ion-icon>
      DESCARGAR
    </ion-button>
    <ion-button size="small">
      <ion-icon slot="start" name="share-social-outline"></ion-icon>
      COMPARTIR
    </ion-button>
  </div>

  <div>
    <p>
      {{ titulo }}
    </p>
    <p>
      {{ fecha }} {{ hora }}
    </p>
    <p>
      {{ descripcion }}
    </p>
  </div>
  <div class="ion-padding">
    <p class="ion-padding">
      {{ autorizacion }}
    </p>
  </div>

  
</ion-content>
